ACCESS_TOKEN_SIGNING_KEY=UNyi3vWZeY0QHUJgI4Qv5qVcew9JnBwJ
REFRESH_TOKEN_SIGNING_KEY=VZZ1pKNG1NTAfhtubq5sHbIHiaxTtflx
SECRET_KEY_SIGNING_KEY=GAF7FvhA1NTmfht6bq5sHoLHiaxTkplZ
ACCESS_TOKEN_TTL_SEC=3000
REFRESH_TOKEN_TTL_SEC=256000
DATABASE_URL=mongodb://qwerty:12345@auth-db:27017/
