version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DATABASE_URL=postgres://db/postgres?sslmode=disable&user=postgres&password=qwerty
      - ACCESS_TOKEN_SIGNING_KEY=UNyi3vWZeY0QHUJgI4Qv5qVcew9JnBwJ
      - REFRESH_TOKEN_SIGNING_KEY=VZZ1pKNG1NTAfhtubq5sHbIHiaxTtflx
    depends_on:
      - db
  db:
    image: postgres:13
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_DB=postgres
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    healthcheck:
      test: PGPASSWORD='qwerty' psql -U postgres postgres --command='SELECT 1'
      interval: 1s
      timeout: 2s
      retries: 5

volumes:
  postgres_volume:
