Необходимо нормализовать вес. Смертность от всех причин минимальна при индексе массы тела равным 20-25 кг/м2, Ваш ИМТ равен {{ .bmi }}%. Каждые лишние 10 кг могут повышать АД на 10-20 мм рт. ст. Ожирение влияет на объем крови, который проходит через сердце. Больший объем крови сильнее давит на стенки сосудов кровеносной системы, то есть организм вынужден приспосабливаться к большим нагрузкам. Возможные клинические последствия ожирения: гипертония, сердечная недостаточность, ишемическая болезнь сердца, мерцательная аритмия, инсульт, внезапная сердечная смерть, сонное апноэ и заболевание вен. {{ .waist }}% Для снижения веса следует пересмотреть пищевой рацион: завести дневник питания, сократить объем жирных и высококалорийных блюд, ограничить размеры порций. Не злоупотреблять кофеинсодержащими напитками.