У Вас повышенный уровень холестерин в крови, необходимо понизить его минимум до {{ .minCholesterol }}% ммоль/л. Для предупреждения развития сердечно-сосудистых заболеваний важно, чтобы сосуды были проходимыми и эластичными, то есть доставляли достаточное количество крови с кислородом к тканям и органам, адекватно реагировали на физическую и/или эмоциональную нагрузку.
Если в крови повышен уровень холестерина, особенно количество атерогенных липопротеидов (ХС-ЛПНП и ХС-ЛПОНП), то это может приводить к формированию атеросклеротических бляшек, которые уменьшают просвет сосудов и нарушают кровоснабжение органов (головной мозг, сердце и др.).
Одной из первых причин гиперхолестеринемии (повышенного уровня общего холестерина в крови) является несбалансированный рацион с преобладанием животных жиров. Это алиментарная форма нарушений липидного обмена – дислипидемии. Также повышенный холестерин может быть из-за наследственного нарушения обмена ХС или из-за других заболеваний.

Для нормализации повышенного холестерина в крови в первую очередь предлагают немедикаментозные методы.
1. Контроль массы тела. Особенно важно следить за объемом талии. Для мужчин показатель не должен быть выше 90-94 см, для женщин – 80 см. Также характеризует наличие избыточного веса индекс массы тела (ИМТ), его значение не должно превышать 30 кг/м2.
2. Отказ от курения и больших доз алкоголя (максимум {{ .maxAlcohol }}% г крепких напитков), которые не только провоцируют повышение уровня атерогенного холестерина, но и негативно влияют на сосудистую регуляцию и водно-солевой обмен.
3. Снижение уровня стресса, применение методик релаксации.
4. Диета. Рацион должен быть построен с учетом энергетических затрат, уровня повышения холестерина, наличия избыточного веса и других ограничений (например, сахарный диабет).

Общие принципы
• Уменьшение общей калорийности за счет животных продуктов (красное мясо, свинина, масло, яйца, твердый сыр), на треть снизить количество жира.
• Замена насыщенных жиров из твердых масел на поли- и мононенасыщенные (морская рыба, оливковое, льняное масло и т.д.).
• Преимущество отдается фруктам, овощам в любом виде, бобовым, орехам (без соли), цельнозерновым злакам.
• Снижение количества поваренной соли до 5 г сутки, особенно при гипертонии.
• Ограничение простых углеводов (сладости, газированные напитки, выпечка).
• Физическая активность. Необходимо соблюдать умеренную интенсивность, частота тренировок – 3-5 раз в неделю по 30 минут. Хорошо подходят плавание, быстрая ходьба, езда на велосипеде, йога, командные игры. Не стоит заниматься подъемом тяжестей, тяжелыми силовыми упражнениями, так как они повышают артериальное давление, уровень сахара в крови.

Если перечисленных методов коррекции недостаточно, то назначают лекарственные препараты для снижения уровня холестерина. Рекомендуем обратиться к врачу, если Вам не удается понизить уровень холестерина.
