На состояние сосудов и сердца значительное влияет состав ежедневного рациона. Частое и чрезмерное потребление жирных и жареных блюд, кофе, куриных яиц, соли и сахара – верный путь к ухудшению состояния сосудов и развитию инфарктов, инсультов, гипертонической болезни и других опасных недугов.
Повышенное содержание насыщенных жиров, кофеина, соли и сахара увеличивает уровень «вредного» холестерина и сахара в крови. Под их воздействием на сосудистых стенках образуются обызвествляющиеся со временем атеросклеротические бляшки. Происходит сужение просвета сосудов, приводя к их износу. Этот фактор повышает нагрузки на сердце, развивается артериальная гипертензия. Гипертония, в свою очередь, приводит к развитию многих тяжелых заболеваний, которые могут приводить к инвалидности и смерти.
Полезны для сердца и сосудов: морская рыба; мясо птицы; растительные масла; крупы; бобовые; овощи, фрукты и ягоды.
Вредны для сердца и сосудов: жирное мясо; кондитерский жир; сахар и продукты с ним; куриные яйца (не более 1-2 в неделю); кофе (не более 1 чашки в день).
