Физическая активность снижает риск развития ишемической болезни сердца, инсульта, артериальной гипертонии, сахарного диабета и преждевременной смерти и снижает факторы риска.
Примеры аэробной ФА включают ходьбу, бег трусцой, езду на велосипеде и т. д. Рекомендуем выполнять не менее 150-300 мин ФА средней интенсивности в неделю или 75-150 мин ФА высокой интенсивности, или их эквивалентной комбинации, в течение всей недели. Дополнительные преимущества дает еще большее количество ФА. Если не можете достичь 150 мин ФА средней интенсивности в неделю, Вы должны быть настолько активными, насколько позволяют ваши возможности и условия.
Примером легкой активности является Ходьба <4,7 км/ч или легкая работа по дому. Умеренной – ходьба в умеренном или быстром темпе (4,8-6,5 км/ч), медленная езда на велосипеде (15 км/ч), малярные работы/декорирование, работа пылесосом, садоводство (кошение газона), гольф, теннис (парный), бальные танцы, аква-аэробика. Интенсивной – быстрая ходьба на беговой дорожке, бег трусцой или обычный бег, езда на велосипеде >15 км/ч, интенсивное садоводство (копание земли, работа мотыгой), плавание по дорожкам, теннис (одиночный).
Упражнения на сопротивление в дополнение к аэробной ФА связаны с более низким риском общих ССС и общей смертности. Рекомендуем от одного до трех подходов по 8-12 повторений с интенсивностью 60-80% от индивидуального максимума в первой попытке, с частотой не менее 2 дней в неделю в виде 8-10 разнообразных упражнений с участием каждой из основных групп мышц. Необходимо начинать с одного подхода из 10-15 повторений с 40-50% от максимума первого подхода. Кроме того, рекомендуется выполнять многокомпонентную ФА, которая сочетает в себе аэробные упражнения, укрепление мышц и упражнения на равновесие для предотвращения падений.
Малоподвижный образ жизни связан с большим риском нескольких основных хронических заболеваний смертности. Физически малоподвижным взрослым людям скорее всего принесет пользу даже 15 мин легкой физической нагрузки в день.
