Рекомендуем отказаться от курения, эта вредная привычка в два раза повышает риск сердечного приступа. Если вы откажете от курения, то Ваш риск сердечно-сосудистых заболеваний в течение 10 лет снизится с {{ .riskSmoking }}% до {{ .riskNotSmoking }}%. Курение вызывает два опаснейших сердечно-сосудистых недуга – ишемическую болезнь сердца (ИБС) и атеросклероз. Все остальные заболевания – осложнения этих диагнозов. Существует несколько методик отказа от курения: никотиновые пластыри или жевательные резинки, спреи от курения, иглоукалывание, гипноз, медитации, различные авторские методы.
